<?xml version="1.0" ?>

<launch>
    <arg name="base_frame" default="base_footprint"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="map_frame" default="map"/>
    <arg name="mapping_method" default="cartographer"/>
    <param name="odom/child_frame" value="base_footprint"/>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <param name="scan_height" value="10"/>
        <param name="output_frame_id" value="camera_depth_frame"/>
        <param name="range_min" value="0.45"/>
        <remap from="image" to="camera/depth/image_rect_raw"/>
        <remap from="scan" to="scan"/>
    </node>
    <!-- Mapping method-->
    <include file="$(find robotont_demos)/launch/$(arg mapping_method).launch"/>

    <!-- Launch navigation stack -->
    <include file="$(find robotont_navigation)/launch/navstack.launch"/>
</launch>
